extends layout
block content
 if (!user)
  a(href="/login") Login
  br
  a(href="/register") Register
 if (user)
  p You are currently logged in as #{user.username}
  a(href="/power_ranger") Take me to Rangers
  br
  a(href="/logout") Logout